* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style-type: none;
}

/*nav bar starts here*/

.container,
ul {
    display: flex;
}

ul,
img {
    margin-left: auto;
}
