.header,
.logo {
    display: flex;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0%;
    margin-left: auto;
    margin-top: 0%
}

/*The navigation bar ends here*/

.content_one,
.container {
    display: flex;
}

.container {
    flex-direction: column;
}

h1,
p {
    margin: 0%;
}

a {
    text-decoration: none;
}

.content_one_image {
    margin-left: auto;
}

.signup_one {
    width: 100px;
}

/*The header content ends here*/